<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('Partials/header') %>
    <h1><%= Message %></h1>

    <ul>
      <% peoples.forEach(people=>{%>
        <li><%= people %></li>
      <% });%>
    </ul>
  </body>
</html>
